<h1>Must you Edit</h1>
<center>
<table border = "4" cellpadding = "10">
<thead>
    <th>Title</th>
    <th>Description</th>
</thead>
<tbody>
    <td><%= @article.title%></td>
    <td><%= @article.body%></td>
</tbody>
</table>
<center>